# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.ruff_cache


# misc
.coverage
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml

homeassistant/*

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride